@font-face {
  font-family: 'Titre';
  src: url('Roboto/Roboto-Black.ttf') format('truetype');
}

*{
  padding: 0px;
  margin: 0;
}

body{
  width: 100%;
  font-family: 'Roboto', sans-serif;
}
li{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 20px 20px;
  box-sizing: border-box;
  display: inline-block;
  width: calc(100%/4);
  background-color: #012626;
  text-align: center;
  letter-spacing: normal;
}
li:hover{
  background-color: #D94929
}

main a{
  display: inline-block;
  margin-top: 25px;
  text-align: center;
  background-color: #012626;
  padding: 10px 15px;
}
a {
  color:white;
  text-decoration: none;
  box-sizing: border-box;
}
main a:hover{
  background-color: rgba(255,255,255,0);
  border: solid 2px #012626;
  box-sizing: border-box;

}


ul{
letter-spacing: -0.25rem
}
header img{
  width: 100%;
  display: block;
}
h1,h2,h3,h4,h5,h6{
  padding: 15px 0;
  text-align: center;
  text-transform: capitalize;
  color: #D94929;
  font-family: 'Titre','Ephesis', cursive;
}
p{
  padding: 25px 15px
}
#origine{
  text-decoration: none;
  color: white;
  padding: 20px 20px;
  box-sizing: border-box;
  display: inline-block;
  width: calc(100%);
  background-color: #000;
  text-align: center;
  letter-spacing: normal;
}
#origine h2{
  color: white;
}
#fabrication{
  text-decoration: none;
  color: #8C3926;
  padding: 20px 20px;
  box-sizing: border-box;
  letter-spacing: -0.25rem;
  background-color: #A4A5A6;
}
#fabrication div{
  width: calc(50% - 20px);
  display: inline-block;
  box-sizing: border-box;
  margin: 0px 10px;
}
#fabrication div, #fabrication h2{
  letter-spacing: normal;
}
.article{
  display: inline-block;
  width: calc(100%/3);
  text-decoration: none;
  padding: 20px 20px;
  box-sizing: border-box;
}
.article div{
  text-align: center;
}
.article div p{
  height: 100px
}
#produits{
  letter-spacing: -0.25rem;
  background-color: #D94929;
  padding: 20px 0px;
}
#produits h4{
  color: white;
}
.article, #produits h2{
  color: white;
  letter-spacing: normal;
}
.salarie{
  display: inline-block;
  width: calc(100%/3);
  text-decoration: none;
  color: white;
  padding: 20px 20px;
  box-sizing: border-box;
}
#equipes{
  letter-spacing: -0.25rem;
  background-color: #400D01
}
.salarie, #equipes h2{
  letter-spacing: normal;
}
nav{
  z-index: 1;
position:sticky;
top:0px;
}
main img{
  width: 100%
 }
main p{
  color: white;
}
header div{
  position:absolute;
  top:50%;
  right:50%;
  transform: translate(50%, -50%);
  color: white;
}
header h1{
  color: white
}
header{
position: relative;
}
div h2{
  position:absolute;
  top:50%;
  right:50%;
  transform: translate(50%, -50%);
  color: white;
}
div{
  position: relative;
}
iframe{

  display:block;
  width: 100%;

}
.recolte img {
  padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.recolte img:hover {
  transform:scale(1.1);
}
}
.torefaction img: {
  padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.torefaction img:hover {
  transform: scale(1.1);
}
.article img: {
  padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.article img:hover {
  transform: scale(1.1);
}
.salarie img: {
  padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}
.salarie img:hover {
  transform: scale(1.1);
}
#origine {
background: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url("https://fedecardio.org/wp-content/uploads/2021/03/ffc_je-m-informe_comment-reduire-les-risques_je-mange-equilibre-la-polemique-du-cafe-1568x686.jpg") no-repeat center;
background-size: cover;
}
#origine p{
    background-color: rgba(206, 206, 206 ,0.5)
}

 nav >ul li:hover .deroulant{
   display: block;
 }
.deroulant li{
  float: none;
  width: 100%;
  text-align: left;
}
.deroulant a {
  border-bottom: none;
}
.deroulant a:hover{
  border-bottom: none;
  background-color: rgba(200, 200, 200, 0.1);
}
.deroulant{
  display: none;
  box-shadow: 0px 1px 2px #ccc;
  background-color: white;
  position: absolute;
  width: 100%;
  z-index: 1000;
  margin: 20px -20px;

}
nav ul li{
  width: 25%;
  text-align: center;
  position: relative;
}
.fleche>a::after{
  content:" ▼";
  font-size: 12px;
}
